[Unit]
Description=BitDM: Zwischenlager alle 5 Minuten pruefen

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
